html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100%;
  margin-bottom: -150px;
}

footer {
  color: white;
  background-color: $navBkg;
  font-size: 10px;
  width: 100vw;
  margin-top: 5px;
  a {
    color: #fff;
  }
  .container {
    .info.row {
      .pages.title {
        font-size: 12px;
      }
      .pages {
        font-size: 10px;
      }
      .address-title {
        font-size: 12px;
      }
      .address {
        font-size: 10px;
      }
      .email.title {
        font-size: 12px;
      }
      .email {
        width: max-content;
        .email-sales,
        .email-sales a,
        .email-support,
        .email-support a,
        .email-general,
        .email-general a {
          font-size: 10px;
        }
        .email-sales a,
        .email-support a,
        .email-general a {
          margin-left: 10px;
          color: rgb(0, 0, 85);
          float: right;
        }
      }
    }
    .row {
      .copyright {
        font-size: 12px;
      }
    }
  }
}
