.front-page.container {
  background-color: $logo;
  min-height: calc(100vh - 200px);
  box-shadow: $pageSidesShadow;
  .advert-01 {
    height: 315px;
    .row {
      .container {
        height: 315px;
        box-shadow: 0 4px 10px #000, 2px 0 10px #000;
        .amd-pc-builds {
          background-image: url(images/front-page/amd-mb.png);
          background-color: $black;
          background-size: cover;
          background-repeat: no-repeat;
          a {
            .amd-5000-series {
              span {
                color: #fff;
                display: inline-block;
                margin: 0 0.2em;
                transition-timing-function: ease-in;
                transition-delay: 0.05s;
                transition-duration: 0.1s;
                text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
              }
              span:hover {
                transform: scale(1.2);
              }
            }
          }
        }
        @media screen and (max-width: 359px) {
          .amd-pc-builds {
            background-color: #fff;
            a {
              .amd-5000-series {
                span {
                  font-size: 1.4em;
                }
              }
            }
          }
          .ryzen-5000-get-yours {
            display: none;
          }
        }
        @media screen and (min-width: 360px) {
          .amd-pc-builds {
            background-color: #fff;
            a {
              .amd-5000-series {
                span {
                  font-size: 2em;
                }
              }
            }
          }
          .ryzen-5000-get-yours {
            display: none;
          }
        }
        @media screen and (min-width: 768px) {
          .amd-pc-builds {
            background-color: #fff;
            background-size: 100% 100%;
            a {
              .amd-5000-series {
                span {
                  font-size: 2em;
                }
              }
            }
          }
        }
        @media screen and (min-width: 993px) {
          .ryzen-5000-get-yours {
            display: block;
          }
          .amd-pc-builds {
            background-color: #fff;
            a {
              .amd-5000-series {
                span {
                  font-size: 2.3em;
                }
              }
            }
          }
        }
      }
    }
  }
  .product-choice {
    background-color: $logo, 5;
    .row.lets-make-pc-row {
      .lets-make-pc {
        background: linear-gradient(
            to top,
            rgb(0, 0, 0) 0%,
            rgba(0, 0, 0, 0.01) 10%,
            rgb(0, 0, 0) 100%
          ),
          linear-gradient(
            to bottom,
            rgb(0, 0, 0) 0%,
            rgba(0, 0, 0, 0.01) 10%,
            rgb(0, 0, 0) 100%
          ),
          linear-gradient(
            to right,
            rgb(0, 0, 0) 0%,
            rgba(0, 0, 0, 0.05) 50%,
            rgb(0, 0, 0) 100%
          );
      }
    }
    @media screen and (max-width: 359px) {
      .row.lets-make-pc-row {
        display: none;
      }
    }
    .row {
      @media screen and (max-width: 359px) {
        .choose-own {
          h1 {
            font-size: 1.2em;
          }
        }
        .pre-designed {
          h1 {
            font-size: 1.2em;
          }
        }
      }
      @media screen and (min-width: 360px) {
        .choose-own {
          h1 {
            font-size: 1.2em;
          }
        }
        .pre-designed {
          h1 {
            font-size: 1.2em;
          }
        }
      }
      .lets-make-pc {
        color: #fff;
        background-color: rgb(78, 78, 78);
      }
    }
  }
}
