header {
  .logo {
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
  }
  .menu-top-menu-container {
    background: #fff;
    min-height: 40px;
    .top-nav-menu {
      width: 100vw;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style-type: none !important;
      li:first-of-type {
        border-left: 5px solid $navBkg;
      }
      li {
        flex: 1;
        padding: 0;
        border-right: 5px solid $navBkg;
        background-color: $black;
        text-align: center;
        a {
          display: block;
          margin-top: 6px;
          color: #fff;
        }
      }
    }
    @media screen and (max-width: 575px) {
      .top-nav-menu {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start;
        li:first-of-type {
          border-top: 5px solid $navBkg;
          border-left: none;
        }
        li {
          border-right: none;
          border-bottom: 5px solid $navBkg;
          border-left: none;
        }
      }
    }
  }
}
