header {
  background: #fff;
  height: 100px;
  .logo {
    height: 60px;
  }
  .top-nav-menu {
    height: 40px;
    margin: 0;
    padding: 0;
    border-left: 5px solid $navBkg;
    background-color: $navBkg;
    list-style-type: none !important;
    li {
      flex: 1;
      border-right: 5px solid $navBkg;
      background-color: $black;
      text-align: center;
      a {
        display: block;
        margin-top: 6px;
        color: #fff;
      }
    }
  }
}
