.content {
  color: white;
  background-color: white;
  min-height: calc(100vh - 200px);
  .container {
    box-shadow: $pageSidesShadow;
    min-height: calc(100vh - 200px);
    background-color: darken($logo, 10);
  }
}
