@import "node_modules/bootstrap/scss/bootstrap";
@import "style";
@import "fonts";
@import "colors";
@import "header";
@import "404";
@import "front_page";
@import "page";
@import "footer";
@import "woocommerce";

body {
  font-family: $primaryFont;
  background-color: #fff;
  box-sizing: border-box;
}

a,
button {
  font-family: $linkFont;
}
