@import "node_modules/bootstrap/scss/bootstrap";
@import "fonts";
@import "colors";
@import "header";
@import "front_page";
@import "page";
@import "footer";

body {
  font-family: $primaryFont;
  background: $black;
}

a,
button {
  font-family: $linkFont;
}
